*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#headerBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    background-color: transparent;
    z-index: 100;
    .firstConatiner{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       .dealersBox{
        h1{
            display: flex;
           letter-spacing: 5px;
           font-family: "Rubik Mono One";
           font-weight: 400;
        }
       }
       .icons{
        display: flex;
        gap: 30px;
        font-size: 15px;
       }
        nav ul{
            display: flex;
            gap: 35px;
            li{
                list-style-type: none;

                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}


// #firstSection{
//     display: flex;
//     justify-content: center;
//     .secondContainer{
//         width: 80%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         .text{
//             h1 {
//                 font-size: 64px;
//                 font-family: "Rubik";
//                 font-weight: 400;
//                 letter-spacing: 4px;
//             }
//             display: flex;
//             justify-content: center;
//             flex-direction: column;
//             gap: 30px;
//             .image img{
//                 width: 529px;
//                 height: 688px;
//                 position: relative;
//             }
//         }
//     }
// }
    

#firstSection {
    display: flex;
    justify-content: center;

    .secondContainer {
        width: 80%;
        display: flex;
      text-align: center ;
        align-items: center;
        justify-content: space-between;

        .text {
            .btn{ 
                border-radius: 2px solid #0068F9;
                .shoping{
                    background-color: #0068F9;
                }


            } 
           button{
            height: 45px;
            width: 110px;
            font-family: "Rubik";       
        }
            p{
                font-size: 20px;
                font-family: "Rubik";
            }
            span{
                font-size: 18px;
                font-family: "Rubik";
            }

            h2 {
                font-size: 64px;
                letter-spacing: 4px;
                font-family: "Rubik";
                font-weight: 600;
            }

            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
        }

        .imgsec img {
            width: 529px;
            height: 688px;
            position: relative;

        }
    }

}
